# /etc/systemd/system/calamary@.service

[Unit]
Description=Service to run an instance of calamary proxy
ConditionPathExists=/tmp/calamary_%i
Documentation=https://docs.calamary.net
Documentation=https://github.com/superstes/calamary/tree/latest/test

[Service]
Type=simple
User=proxy
Group=proxy
# add nat rule
ExecStartPre=/usr/local/bin/cicd/calamary_startpre.sh %i

ExecStart=/tmp/calamary_%i -f /tmp/calamary_%i.yml

# remove nat rule
ExecStop=/usr/local/bin/cicd/calamary_stop.sh %i

ExecStop=/bin/bash -c 'rm -f /tmp/calamary_%i*'

StandardOutput=journal
StandardError=journal
SyslogIdentifier=cicd_calamary

# only needed if NAT is created
Environment=TESTER_HOST=172.17.1.80
Environment=PROXY_HOST=172.17.1.81